<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-components pb-0" id="section-components">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <!-- Basic elements -->
          <h2 class="mb-5">
            <span style="font-size: 50px;font-family: Apple Chancery, cursive;">Education</span>
          </h2>
          <!-- Buttons -->
          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;">Big Data Analytics </h3>
          <!-- Button styles -->
          <div>
            <p class="lead " style="font-size: 25px;font-family: Apple Chancery, cursive;">Lambton College , Canada ,
              Ontario </p>
            <p class="lead " style="font-size: 25px;font-family: Apple Chancery, cursive;">2021 - 2023 </p>
            <!-- Button wizes -->
          </div>

          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;">Master of Engineering (Very Large Scale
            Integration Design) </h3>
          <!-- Button styles -->
          <div>
            <p class="lead " style="font-size: 25px;font-family: Apple Chancery, cursive;">Anna University Affiliated
              College , India </p>
            <p class="lead " style="font-size: 25px;font-family: Apple Chancery, cursive;">2014 - 2016 </p>
            <!-- Button wizes -->
          </div>
          <!-- Button colors -->


          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;">Bachelor of Engineering (Electronics and
            Communication Engineering) </h3>
          <!-- Button styles -->
          <div>
            <p class="lead " style="font-size: 25px;font-family: Apple Chancery, cursive;">Anna University Affiliated
              College , India </p>
            <p class="lead " style="font-size: 25px;font-family: Apple Chancery, cursive;">2010 - 2014 </p>
            <!-- Button wizes -->
          </div>


        </div>
      </div>
    </div>
  </section>




</main>