.experience{
    font-size: 50px;
    font-family: Apple Chancery, cursive;
}
.company{
    font-size: 30px;
    font-family: Apple Chancery, cursive;
}
.position{
    font-size: 20px;
    font-family: Apple Chancery, cursive;
}
.companynext{
    font-size: 30px;
    font-family: Apple Chancery, cursive;
    margin-top: 50px
}