<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <div class="container">
    <h2 class="mb-5" style="padding-top: 4rem;">
      <span style="font-size: 50px;font-family: Apple Chancery, cursive;">Experience</span>
    </h2>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <!-- Tabs with icons -->
        <div class="mb-3">
          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;">Rogers Communications </h3>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Designation : Experience Analyst</p>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Duration : Jan 2023 - Apr 2023</p>
        </div>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-laptop mr-2"></i> Project
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">ATG_Extract Automation</p>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Team Size : 3</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-html5 mr-2"></i> Technology
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Python, MySQL, Excel, PowerBI</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-calendar-grid-58 mr-2"></i> Responsibilities
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Developed an efficient ATG configuration
                automation for the New NAC and Base Campaigns system using Python libraries such as numpy, and pandas to
                automate the process of creating user-friendly Excel files from different tables in an ATG
                database.<br><br>
                Generated Excel files using the automated system and compared the results with the downloaded files from
                ATG, sending reports to the team daily.</p>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-lg-12">
        <!-- Tabs with icons -->
        <div class="mb-3">
          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;margin-top: 50px;">Saint Gobain </h3>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Designation : System Engineer</p>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Duration : June 2021 - Sep 2021</p>
        </div>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-laptop mr-2"></i> Project
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">AIM Project</p>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Team Size : 5</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-html5 mr-2"></i> Technology
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">React js, Html, Css, Typescript,
                Bootstrap, Python, Flask, MySQL</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-calendar-grid-58 mr-2"></i> Responsibilities
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Developing and maintaining APIs for web
                and mobile applications. <br><br>
                Designing and implementing databases using SQL and Writing efficient and scalable code using Python and
                other programming languages.<br><br>
                Collaborating with front-end developers to integrate their work with the backend API.<br><br>
                Deploying and maintaining applications on production servers.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-lg-12 mt-5 mt-lg-0">
        <!-- Menu -->
        <div class="mb-3">
          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;margin-top: 50px;">3 Edge Solutions </h3>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Designation : Junior Associate</p>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Duration : May 2019 - June 2021</p>
        </div>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-laptop mr-2"></i> Project
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Project1 : IOCL Pipelines - Payment
                Monitoring Applications</p>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Team Size : 8</p>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Project2 : Sling ISLS 8 Event Management
              </p>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Team Size : 8</p>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-html5 mr-2"></i> Technology
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">React js, Angular js, Html, Css,
                Typescript, Bootstrap, Python, Flask, MySQL</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-calendar-grid-58 mr-2"></i> Responsibilities
            </ng-template>
            <ng-template ngbTabContent>

              <p style="font-size: 20px;font-family: Apple Chancery, cursive;"> Understanding and implementing website
                design concepts.<br><br>
                Communicating with clients and testing teams to gather requirements.<br><br>
                Attending project review meetings with clients and gathering requirements, preparing screens for
                demos.<br><br>
                Developing website layout, application, and functional layouts.<br><br>
                Creating new components and designing both desktop and mobile views.<br><br>
                Testing and debugging applications and creating databases as needed.<br><br>
                Writing services using SQL and Python.<br><br>
                Deploying code to servers on a regular basis.<br><br>
                Developing user-friendly web pages and applications using Angular.<br><br>
                Writing clean, scalable, and maintainable code while adhering to coding standards and best
                practices.<br><br>
                Implementing user interfaces using HTML, CSS, and JavaScript.<br><br>
                Collaborating with other developers, designers, and stakeholders to ensure seamless integration and
                functionality.</p>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

    </div>
    <div class="row ">
      <div class="col-lg-12 mt-5 mt-lg-0">
        <!-- Menu -->
        <div class="mb-3">
          <h3 class="h4 text-success font-weight-bold mb-4"
            style="font-size: 30px;font-family: Apple Chancery, cursive;margin-top: 50px">Jeganee Technologies </h3>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Designation : Trainee</p>
          <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Duration : August 2018 - May 2019</p>
        </div>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-laptop mr-2"></i> Project
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Catalent Drugs Medicine</p>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Team Size : 5</p>


            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-html5 mr-2"></i> Technology
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Python, Flask, MySQL, Angular js, Html,
                Css, Typescript, Bootstrap</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-calendar-grid-58 mr-2"></i> Responsibilities
            </ng-template>
            <ng-template ngbTabContent>
              <p style="font-size: 20px;font-family: Apple Chancery, cursive;">Received training in programming, website
                design, and backend integration. <br><br>
                Demonstrated understanding of front-end and backend concepts.<br><br>
                Developed proficiency in implementing database concepts.<br><br>
                Utilized Python to design server applications and client interfaces.<br><br>
                Created database tables as required.<br><br>
                Wrote services using SQL database and Python programming language.<br><br>
                Interacted with the front-end team to gather requirements.<br><br>
                Collaborated with other developers to handle complicated deployment issues.<br><br>
                Managed continuous maintenance and troubleshooting of Python projects.<br><br>
                Worked with business stakeholders to gather requirements and understand their data visualization
                needs.<br><br>
                Built interactive dashboards in Power BI that provide insights into key business metrics.<br><br>
                Demonstrated mastery of designing and deploying rich graphic visualizations with drill-down and
                drop-down menu options and parameters using Power BI.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>


</main>