<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <!-- <div class="col-lg-6 text-center"> -->

            <!-- <p class="lead text-white" style="font-size: 100px;font-family: Apple Chancery, cursive;margin-top: 0px;">Hi</p> -->



            <!-- </div> -->

            <!-- <div  class="col-lg-12 text-center"> -->
            <!-- <p class="lead text-white text-center" style="font-size: 50px;font-family: Apple Chancery, cursive;">This is Latha </p> -->
            <!-- <p class="lead text-white text-center" style="font-size: 50px;font-family: Apple Chancery, cursive;" >(Software Developer)</p> -->
            <!-- </div> -->
            <div>
              <p class="text-white" style="font-size: 2rem;
              font-weight: 300;
              line-height: 1.7;
              margin-top: 1.5rem;text-align:justify;font-family: Apple Chancery, cursive;">Welcome to my portfolio
                page! <br><br>
                I am a Full Stack Developer with over three years of experience in the IT industry, covering website
                development, back-end maintenance, and front-end integration. I have a strong proficiency in Python and
                MySQL, as well as good knowledge of HTML, CSS, Typescript, and Angular technologies.<br><br>
                Throughout my career, I have worked on a variety of projects, where I've gained hands-on experience with
                Python back-end and Angular front-end technologies. I am always willing to learn new technologies to
                stay ahead of the curve and provide the best solutions to my clients.<br><br>
                In addition to my technical skills, I have a good understanding of data analysis using Artificial
                Intelligence (AI) and Machine Learning (ML), as well as visualization tools such as Power BI and
                Tableau. My passion for technology and my diverse skill set allow me to deliver high-quality work that
                meets the needs of my clients.<br><br>
                Please feel free to browse through my portfolio to learn more about my skills and experience. If you
                have any questions or would like to discuss a potential project, please don't hesitate to get in touch.
                I look forward to hearing from you!
              </p>

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

</main>