<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
            
              <p class="lead text-white" style="font-size: 100px;font-family: Apple Chancery, cursive;margin-top: 0px;">Hi</p>
              
             
             
            </div>
            <div>
              <p class="lead text-white text-center" style="font-size: 50px;font-family: Apple Chancery, cursive;">I am Latharani Radhakrishnan</p>
              <p class="lead text-white text-center" style="font-size: 50px;font-family: Apple Chancery, cursive;" >(Software Developer)</p>
            </div>
            <div>
              <p class="text-white" style="font-size: 2rem;
              font-weight: 300;
              line-height: 1.7;
              margin-top: 1.5rem;text-align:justify;font-family: Apple Chancery, cursive;">I am having 4 years of of rich experience as a Full Stack Developer in the field of IT industry, covering Website development, Back-end maintenance, and Front-end integration.Proficient in Python, MySQL, and possess good knowledge on HTML, CSS, Typescript and Angular technologies.Hands on experience with Python Back-end and Angular Front-end. Willing to learn new technologies. </p>

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

</main>
